<%= form_for @project do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
<!-- 
<h2><%= project.title %></h2>
<p><%= project.description %></p>
<img src="<%= project.image %>">
<a href="<%= project.link %>">view more</a> -->
