<div class="showcase_project">
  <h2><%= project.title %></h2>
<div><img class="project_image" src="<%= project.image %>"></div>
<div><%= project.description %></div>
<div class="site_link"><a href="<%= project.link %>" class="simple_link">Visit Site</a></div>
<%= link_to image_tag("edit.png", size: "30x30"), edit_project_path(project.id), class: "edit_link", id: "Edit #{project.title}" %>
</div>
