<div class="form_container">
  <%= form_for @project do |f| %>
    <div class="form_label"><%= f.label :title %></div>
    <div class="form_item"><%= f.text_field :title, id: "form_width" %></div>
    <div class="form_label"><%= f.label :description %></div>
    <div class="form_item"><%= f.text_area :description, id: "form_size" %></div>
    <div class="form_label"><%= f.label :link %></div>
    <div class="form_item"><%= f.text_field :link, id: "form_width" %></div>
    <div class="form_label"><%= f.label :image %></div>
    <div class="form_item"><%= f.file_field :image %></div>
    <div class="form_label"><%= f.submit "Edit Project" %></div>
  <% end %>
  <div class="form_label"><%= link_to image_tag('trash.png', size: "30x30"), project_path(@project.id), method: :delete, class: "delete_button", id: "trash" %></div>
</div>
